

/* General App Styling */
.app {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
  min-height: 100vh; 
  background: linear-gradient(to bottom, #87CEEB, #fefcea); /* Sky gradient */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.temp-display-container {
  margin: 20px auto;
  width: 100px;
}

.temperature-display {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.temperature-display.cold {
  background-color: blue;
}

.temperature-display.hot {
  background-color: red;
}


.button-container button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
  transition: background-color 0.3s, transform 0.2s;
}

.button-container button:hover {
  background-color: #ddd;
  transform: scale(1.1);
}


@media (max-width: 600px) {
  .temperature-display {
    font-size: 1.5rem;
    padding: 15px;
  }

  .button-container button {
    font-size: 1.2rem;
    padding: 8px 15px;
  }
}
